{% extends "profile_page/layout/base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<!DOCTYPE html>

<html>
<head>
<style>
  .container{
    dispay:table;
    height: 150%;
    width: 100%;
  }
  div{
    display:table-cell;
    vertical-align: middle;
    padding-left:100px;
    width: 70%;
  }
  h1{
    font-size: 180%;
    text-align: left;
  }

  h3{
    text-align:left;
    font-size:150%;
    color: white;
    font-family:monospace;
  }

  </style>
  <title>Tugas Kelompok</title>
</head>

<h1 style="text-align: center; width:200px; margin-left:20px; color: white;">profile</h1>
<center>
  <body>
  <img class="img-circle" style="width:200px; height:200px" src= https://i.pinimg.com/236x/e0/5d/51/e05d51c857bba4ee264c305d20fd1c52.jpg>
  <h2 style="color:white;"> {{name}}</h2>
</hr>
<midle>
  <section class="container">
    <article>

    <div clas="row">
      <div class="col-sm-6">
        <h3>Birthday </h3>
        <h3>Gender </h3>
        <h3>Description </h3>
        <h3>Email </h3>
      </div>

      <div class="col-sm-6">
        <h3>{{birthday}}</h3>
        <h3>{{gender}}</h3>
        <h3>{{description}}</h3>
        <h3>{{email}}</h3>
      </div>

    </div>
  </article>
  </section>

</center>
</midle>

</body>
</html>
{% endblock %}