{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stats.css' %}" /> 
</head>
<title>
    Tugas Kelompok 1
</title>
<body style="background-color: #bbdefb" class=""> 
    <header>
        {% include "profile_page/partials/header.html" %}
    </header>
    <content>
        <div class="container">
            {% block content %}
                <!-- content goes here -->
            {% endblock %}
        </div>

    </content>
    <br>
    <footer>
      {% include "profile_page/partials/footer.html" %}
    </footer>
   
</body>
</html>